body {
  margin: 0;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.space-input {
  margin: 15px 0px;
  font-size: 35px;
}

#option-color {
  font-size: 35px;
}

input::-webkit-input-placeholder {
  font-size: 35px;
}

input::placeholder {
  font-size: 35px;
}
